---
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout title="404" description="Page not found">
  <section class="flex flex-col justify-center items-center min-h-[50vh]">
    <h1 class="font-cbyg text-9xl sm:text-[20vw]">
      404
    </h1>
    <p class="text-4xl">Page not found:(</p>
  </section>
</MainLayout>
