---
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout title="404" description="Page not found">
  <section class="flex flex-col justify-center items-center min-h-[50vh]">
    <h1
      style={{
        fontFamily: "Covered By Your Grace",
        fontSize: "12rem",
      }}
    >
      404
    </h1>
    <p class="text-4xl">Page not found:(</p>
  </section>
</MainLayout>
